{% extends "blog.html" %}

{% block list %}
    <li><a href="/">Home</a></li>
    <li><a href="posts">Posts</a></li>
    <li class="active"><a href="about">About Me</a></li>
    <li><a href="contact">Contact</a></li>
{% endblock %}

{% block content %}

<!-- START THE FEATURETTES -->
<div class="jumbotron">
  <div class="container">
    </br>
    <h2>About Me</h2>
    <p class="lead">
      I am a data nerd passionate about machine learning and software. I've been using data to read minds (i.e. cognitive neuroscience)
      for a few years now, but my heavy addiction to coding and stats has pushed me towards a career in data science. I love
      to tranform data from a jumble of numbers to useful insights. If your company is interested in supporting a data junky's
      habits by providing interesting data, I would love to hear from you and help you make better use of your data.
    </p>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="post-panel">
      <h2> My Old Blog </h2>
      <p>
        This is one of my old blogs that has some things I think are somewhat interesting. But from now on my new content 
        will be posted here!
      </p>
      <p><a class="btn btn-default" href="http://robinsonbrain.blogspot.com">Robinson Brain Blog</a></p>
      </div>
    </div>
    <div class="col-md-4">
      <div class="post-panel">
      <h2> <img src="/static/imgs/ghub-small.png"> My Github Profile </h2>
      <p>
        Check out my latest projects and contributions here. If my projects are successful, expect to see some more about 
        them on my blog.
      </p>
      <p><a class="btn btn-default" href="https://github.com/bradleyrobinson">My Github Profile</a></p>
      </div>
    </div>
    <div class="col-md-4">
      <div class="post-panel">
      <h2> Curriculum Vitae </h2>
      <p>
        If you want to find out about all the research I have done, check out my C.V. You'll see what I mean about reading
        minds.
      </p>
      <p><a class="btn btn-default" href="/static/misc/BradleyRobinsonCV2017.pdf">C.V.</a></p>
      </div>
    </div>
  </div>
</div>

      <!-- /END THE FEATURETTES -->
{% endblock %}