{% extends "blog.html" %}

{% block list %}
    <li><a href="/">Home</a></li>
    <li><a href="posts">Posts</a></li>
    <li class="active"><a href="about">About Me</a></li>
    <li><a href="contact">Contact</a></li>
{% endblock %}

{% block content %}
<div class="inner cover">
  <h1 class="cover-heading">About Me</h1>
            <p class="lead">I am a data scientist with one year of experience in machine learning, and 
                four years in cognitive neuroscience research. I love to use the tools of data science to gain insights
                into the world around me, especially when those make the world a better place. I am currently looking
                for a full-time job, so if you are interested in hiring a data scientist, send me an e-mail. </p>
            <p class="lead">
              bradley.s.robinson12 (at) gmail.com
            </p>
          </div>
{% endblock %}