{% extends "blog.html" %}

{% block list %}
    <li><a href="/">Home</a></li>
    <li><a href="posts">Posts</a></li>
    <li class="active"><a href="about">About Me</a></li>
    <li><a href="contact">Contact</a></li>
{% endblock %}

{% block content %}

<!-- START THE FEATURETTES -->
<div class="inner cover">

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">About Me</h2>
          <p class="lead">I am a data scientist with one year of experience in machine learning, and 
                four years in cognitive neuroscience research. I love to use the tools of data science to gain insights
                into the world around me, especially when those make the world a better place. I am currently looking
                for a position as a junior data scientist, so if your company could benefit from an up-and-coming data 
                scientist, I would love to hear from you. 
          </p>
        </div>
        <div class="col-md-5">
          <img src="brad_profile.jpg" class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-12">
          <h2 class="featurette-heading">Where to Find Me</h2>
          <p class="lead"> 
              <a href="http://robinsonbrain.blogspot.com/"> Robinson Brain Blog (the old one) </a> - This is one of my old
            blogs that things I think are somewhat interesting. But from now on my new content will be posted here!
            <br><br>
            <a href="https://github.com/bradleyrobinson"> My Github Profile </a> - Check out my latest projects and contributions here.
            If my projects are successful, expect to see some more about them on my blog.<br><br>
              bradley.s.robinson12 (at) gmail.com
          </p>
        </div>
      </div>
</div>
      <!-- /END THE FEATURETTES -->
{% endblock %}