{% extends "blog.html" %}
{% block content %}
<div class="site-wrapper-inner">
  <div class="inner cover">
  <div class="container">
    <h1>Bradley Robinson</h1>
    <h2>Data Scientist and Software Developer</h2>
      <p class="lead">Data and programming enthusiast. Proud dog parent. 
        Obsessed with learning (especially about machine learning).</p>
        <img src="/static/imgs/maya.jpg" class="img-responsive center-block"/></br>
        <p class="lead"><a href="about" class="btn btn-lg btn-default">About me</a></p>
      </p>
  </div>
</div>
</div>
{% endblock %}
