{% extends "blog.html" %}


{% block content %}

<div class="site-wrapper-inner">
  <div class="inner cover">
  <div class="container">
    <h1>Contact Me</h1>
      <p class="lead">If you have questions about this page or my work, feel free to reach out to me. 
                Also, if you would like an enthusiastic data scientist on your team, I would be happy to discuss 
                how my skills with data can transform your data into insights.</p>
            </br>
            </br>
            <p class="lead">
              bradley.s.robinson12 (at) gmail.com
      </p>
  </div>
</div>
</div>
{% endblock %}