{% extends "blog.html" %}

{% block list %}
    <li><a href="/">Home</a></li>
    <li><a href="posts">Posts</a></li>
    <li><a href="about">About Me</a></li>
    <li class="active"><a href="contact">Contact</a></li>
{% endblock %}


{% block content %}
<div class="inner cover">
  <h1 class="cover-heading">Contact Me</h1>
            <p class="lead">If you have questions about any of the content on this page, feel free to reach out to me. 
                Also, if you are looking for a data scientist in your team, I would be happy to discuss 
                how my skills with data can transform your data into insights.</p>
            <p class="lead">
              bradley.s.robinson12 (at) gmail.com
            </p>
          </div>
{% endblock %}