{% extends "blog.html" %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="blog-main">
            <div class="blog-post">
                <br>
            {{content|safe}}
            </div>
        </div>
    </div>
</div>



{% endblock %}

{% block foot %}  

        </div>
        
          </div>
          <footer
          >
            <div class="inner">
              <p>&copy; 2017 Bradley Robinson</p>
            </div>
          </footer>
          {% endblock %}