{% extends "blog.html" %}

{% block list %}
    <li><a href="/">Home</a></li>
    <li class="active"><a href="posts">Posts</a></li>
    <li><a href="about">About Me</a></li>
    <li><a href="contact">Contact</a></li>
{% endblock %}


{% block content %}
<div class="jumbotron">
  <div class="container">
    <h2>Posts</h2>
    <p class="lead">I like to write about software development, data science and anything related.  
    </p>
  </div>
</div>
<!-- START THE POSTS -->

<div class="container">
  <div class="row">
    {% for post in blog_posts %}
    <div class="col-md-4">
      <h2> {{post.title}} </h2>
      <p>
        {{post.description}}
      </p>
      <p><a class="btn btn-default" href="{{post.address}}">See More</a></p>
    </div>
    {% endfor %}
  </div>
</div>

<!-- /END THE POSTS -->
{% endblock %}
